@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --main-clr: #656293;
  --second-clr: #e5f4f6;
  --font-Poppins: "Poppins";
  --white-clr: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--font-Poppins);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 0;
}

.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  position: relative;
  background: transparent;
  width: 100vw;
  height: 100vh;
}
.header__container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
  align-items: center;
  position: absolute;
  z-index: 10;
}
.header__menu {
  display: flex;
  gap: 20px;
}
.header__li {
  white-space: nowrap;
}
.header__li a {
  color: #000;
}
.first__btn {
  margin-right: 19px;
  color: #000;
}

.second__btn {
  background: var(--main-clr);
  color: var(--white-clr);
  padding: 5px 23px;
  border-radius: 5px;
}

.spanCircle {
  background: #f3f2f2;
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.banner {
  background: url(../images/281711c8e933e746f894b4b60304cab7.jfif) center center no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.banner__hero {
  display: flex;
  align-items: center;
}
.banner__hero h1 {
  font-size: 45px;
  font-weight: 500;
}
.banner__span {
  color: var(--main-clr);
}
.banner__porthole {
  width: 260px;
  height: 320px;
  border: 3px solid black;
}

.block {
  position: absolute;
  z-index: 100;
}